<h1>Editing Comment</h1>

<%= form_for [@post,@comment] do |f| %>

    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <% if @comment.errors.any? %>
    <%= @comment.errors.messages[:title][0] %>
    <% end %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>

<p><%= link_to "[トップ画面]", posts_path %></p>
