<%= form_for(@group) do |f| %>

 <p>
     <%= f.label :title %><br>
     <%= f.text_field :title %>
     <% if @group.errors.any? %>
     <%= @group.errors.messages[:title][0] %>
     <% end %>
 </p>

 <p>
     <%= f.submit %>
 </p>
 <% end %>
           
