<h1> グループ一覧 </h1>
<p><%= link_to "[My Page]", user_path(current_user.id) %> <%= link_to "[User一覧]", users_path %></p>
<p><%= link_to "[グループを作る]",new_group_path %> 

<ul>
  <% @groups.each do |group| %>
 <li>
 <%= link_to group.title, group_path(group.id)%><br>
 <%= link_to "[グループ名を変更する]", edit_group_path(group.id) %>
 <%= link_to "[Delete]", group_path(group.id), method: :delete, data: {confirm: "sure?" } %>

 </li>
 <% end %>
</ul>

<p><%= link_to "[トップ画面]", posts_path %></p>

