<h1>グループ<%= @group.title %>のページ</h1>

<p><%= link_to "What's on your mind?", new_group_group_post_path(params[:id]) %></p>

<ul>
    <% @group.group_posts.each do |group_post| %>
    <li>
    <%= group_post.title%><br>

    <%= pluralize group_post.reputation_for(:likes).to_i, "like" %>
    <%= link_to "[like]", like_group_group_post_path(group_post.group_id,group_post.id, type: "like"), method: "post" %>

    <%= link_to "[Comment一覧]", group_group_post_path(group_post.group_id,group_post.id) %>

    <%= link_to "[Edit]", edit_group_group_post_path(group_post.group_id,group_post.id) %>

    <%= link_to "[Delete]", group_group_post_path(group_post.group_id,group_post.id), method: :delete, data: { confirm: 'sure?' } %>

    <% end %>

    </li>
</ul>

